<h1>New Post</h1>


<% form_with model: @post do |form| %>
  <%= form.label :title, "Title: "%>
  <%= form.text_field :title %>
  <%= form.label :content, "Content: "%>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>
